@import "theme/utilities.scss";

.c-layout {
  @include grid-assign(header, panels, blockly, footer);
  grid-template-columns: 10fr 2fr;
  grid-template-rows: auto 80vh 1fr;
  grid-template-areas:
    "header header"
    "blockly panels"
    "footer footer";
}
