@import "theme/utilities.scss";

.c-layout {
  @include grid-assign(header, panels, footer);
  grid-template-columns: 0 1fr 0;
  grid-template-areas:
    ". ...... ."
    ". header . "
    ". panels ."
    ". footer .";
  gap: var(--theme-spacing--4);
  place-content: center;
  max-width: 100vw;
  overflow-y: hidden;

  &__panels {
    display: grid;
    grid-template-columns: 2fr 48px 1fr 48px 6fr;
  }
}
