:root {
  --theme-color--paper: rgba(240, 240, 240, 1);
  --theme-color--paper-max: rgb(255, 255, 255);
  --theme-color--ink: rgba(12, 12, 50, 1);
  --theme-color--accent: rgb(154, 30, 192);
  --theme-color--shade: rgba(129, 67, 201, 0.4);
  --theme-color--brand: #e62a2a;
  --theme-color--pop: rgb(252, 92, 125);

  --theme-border: 2px solid var(--theme-color--accent);
}
@media (prefers-color-scheme: dark) {
  :root {
    --theme-color--paper: rgba(12, 12, 50, 1);
    --theme-color--ink: rgba(240, 240, 240, 1);
    --theme-color--pop: rgba(129, 67, 201, 1);
    --theme-color--shade: rgba(252, 92, 125, 0.4);
    --theme-color--accent: rgb(93 223 253);
  }
}
:root {
  --theme-font--display: Menlo, Monaco, monospace;
  --theme-font--copy: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  font: 100%/1.5 var(--theme-font--copy);
  background: var(--theme-color--paper);
  color: var(--theme-color--ink);
}
html {
  display: grid;
  align-items: center;
}
body {
  background-image: radial-gradient(
    var(--theme-color--shade) 1px,
    transparent 1px
  );
  background-size: 10px 10px;
  display: grid;
  grid-template:
    ". header ." auto
    ". exercises ." auto
    " footer footer footer " auto/ minmax(20px, 1fr) minmax(auto, 1440px) minmax(20px, 1fr);
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--theme-font--display);
  font-weight: 100;
}
a,
a:link,
a:visited {
  color: var(--theme-color--accent);
  text-decoration: none;
  border-bottom: 2px solid var(--theme-color--ink);
  padding: 2px;
}
a:hover,
a:focus {
  color: currentColor;
}

/* CHROME */
header {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  grid-area: header;
}
header button {
  z-index: 100001;
}
footer {
  grid-area: footer;
}

/* MENU */

#toc {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100vw);
  background: var(--theme-color--ink);
  color: var(--theme-color--paper);
  display: grid;
  place-content: center;
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  /* bad blockly */
  z-index: 100000;
}

#toc.open {
  transform: translateX(0);
  overflow: scroll;
}

#toc li {
  cursor: pointer;
  line-height: 2;
}

#toc .current,
#toc :active {
  color: var(--theme-color--pop);
  text-decoration: underline;
}

#toc li:hover,
#toc li:focus {
  text-decoration: underline;
  color: var(--theme-color--pop);
}

body:has(#toc.open) {
  height: 100svh;
  overflow: hidden;
}
/* MAIN stuff */
#exercises {
  grid-area: exercises;
}
.nav-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

/* TEXT */

.instructions {
  columns: 2 320px;
  width: clamp(90vw, 320px + 5vw, 1200px);
  padding: 3.5rem 3.5rem 1.5rem;
  margin: 3rem auto 2rem 0;
  background-color: white;
  color: rgba(
    12,
    12,
    50,
    1
  ); /*this can't be themed here -- it's inside zeromarkdown */
  box-shadow: 3px 5px 0 var(--theme-color--pop);
  border: var(--theme-border);
}

.exercise h2 {
  font-size: 2em;
  margin: 40px auto;
}

/*BLOCKLY surround */

.interface {
  padding: 20px 10px 10px 20px;
  border: var(--theme-border);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  gap: 0 20px;
}
@media (max-width: 960px) {
  .interface {
    display: flex;
    flex-flow: column-reverse;
  }
}
.area {
  height: 400px;
  resize: vertical;
  overflow: auto;
  grid-row-end: span 2;
}
.canvas {
  position: absolute;
}

.blocklyHtml ul {
  display: flex;
  list-style: none;
  cursor: pointer;
  margin: 0 0 -3px 0;
  gap: 5px;
  padding: 0;
}

.blocklyHtml li.current {
  background: var(--theme-color--paper);
  color: var(--theme-color--ink);
  border-bottom-color: var(--theme-color--paper);
  z-index: 2;
}
.generatedJsTextarea {
  display: none;
}

#exercises textarea,
.blockly-output,
.generatedJsTextarea {
  border: var(--theme-border);
  background-color: var(--theme-color--paper);
  color: var(--theme-color--ink);
  font: 100% var(--theme-font--display);
  padding: 20px;
}
.blockly-output {
  margin-bottom: 10px; /*drag handle of blockly */
  min-height: 30;
}
.actions {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

/* a mini theme for blockly as it bugged me */
.blocklyTreeLabel {
  font-family: var(--theme-font--display);
  color: var(--theme-color--ink);
}
.blocklyToolboxDiv,
.blocklyFlyoutBackground {
  background: var(--theme-color--paper);
  color: var(--theme-color--ink);
  fill: var(--theme-color--paper);
}

.blocklyToolboxDiv {
  border: var(--theme-border);
  padding: 20px 10px;
  box-shadow: 2px 6px 0 var(--theme-color--pop);
}
.blocklyMainBackground {
  fill: transparent !important;
  border: var(--theme-border);
  stroke: var(--theme-color--accent);
}
.blocklySvg {
  background: transparent;
}
.blocklyScrollbarHandle {
  fill: var(--theme-color--pop);
}
.geras-renderer.classic-theme .blocklySelected > .blocklyPath {
  stroke: var(--theme-color--accent);
}

/* BUTTONS */

button,
.button {
  appearance: none;
  font: 100% var(--theme-font--display);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  place-items: center;
  min-width: fit-content;
  height: fit-content;
  gap: 5px;
  color: var(--theme-color--ink);
  background: var(--theme-color--paper);
  border: var(--theme-border);
  border-radius: 1px;
  padding: 7px 11px;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background: var(--theme-color--ink);
  border-color: var(--theme-color--ink);
  color: var(--theme-color--paper);
}

a:focus,
button:focus {
  outline: none;
}

/* TOAST */
#toast {
  background-color: var(--theme-color--pop);
  color: var(--theme-color--ink);
  border: var(--theme-border);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  transform: translateY(12em);
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
  z-index: 1001;
}
#toast.is-open {
  transform: translateY(0);
}

/* SVG BG */

#bg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: auto;
  mix-blend-mode: multiply;
  opacity: 0.8;
  top: 100vh;
}

/* ATTENTION DELIGHT */
.has-changed {
  animation: attention 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes attention {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
