@import "../theme/utilities.scss";

.c-button {
  // reset
  appearance: none;
  font: 100% var(--theme-font--display);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  place-items: center;
  min-width: fit-content;
  height: fit-content;
  gap: var(--theme-spacing--2);

  // reset spacing to text instead of viewport
  --theme-spacing--1: 0.175em;
  --theme-spacing--2: 0.375em;
  --theme-spacing--3: 0.5em;
  --theme-spacing--4: 0.75em;
  // styles
  color: var(--theme-color--ink);
  background: var(--theme-color--paper);
  border: var(--theme-border--thick);
  border-radius: var(--theme-border-radius);
  padding: var(--theme-spacing--3) var(--theme-spacing--4);
  box-shadow: var(--theme-spacing--1) var(--theme-spacing--2)
    var(--theme-color--accent);
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);

  @include on-event {
    @include invert;
  }

  //elements

  &__text {
  }

  &__icon {
    width: 1em;
    height: 1em;

    &--menu {
      background: blue;
    }
  }
}
