// https://css-tricks.com/code-as-documentation-new-strategies-with-css-grid/
@mixin grid-assign($elements...) {
  display: grid;
  @each $element in $elements {
    &__#{$element} {
      grid-area: $element;
    }
  }
}

@mixin gradient(
  $from: var(--theme-color--pop),
  $to: var(--theme-color--accent)
) {
  background-image: linear-gradient(to right, $from, $to);
}
